block vars

doctype html
html.show-time(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title=title
		//if lt IE 9
			script(src='http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js')
		if title == "Home" || "Service"
			link(rel="stylesheet", href="css/owl.carousel.min.css")
		if title == "Service"
			link(rel="stylesheet", href="css/animate.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
		//- link(rel="stylesheet", href="css/selectize.default.css")
		link(rel="stylesheet", href="css/style.css")

	body(class=bodyClass)

		block header
		include ../includes/header

		block content
			

		block footer
		include ../includes/footer


		block scripts
		include ../includes/scripts

		block custom-scripts
		
		


