
<footer class="clearfix">
  <div class="container">
    <div class="brand-footer col-sm-12 col-lg-3">
      <div class="content">
        <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo"/>
            <p>Hosting</p></a></div><span>2015 © Allright Reserved</span>
      </div>
    </div>
    <div class="quick-links col-sm-6 col-md-4 col-lg-3">
      <div class="content">
        <h4>Quick links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Hosting Plans</a></li>
          <li><a href="#">Domain</a></li>
        </ul>
        <ul>
          <li><a href="#">Faq</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="contact col-sm-6 col-md-4 col-lg-4">
      <div class="content">
        <h4>Contact us</h4>
        <address> 
          <p> <span>Address : </span>9867 lipsum text here <br/>There are many variations</p>
          <p> <span>Email : </span>info@hosting.com</p>
          <p> <span>Call : </span>+87 7765 557 888</p>
        </address>
      </div>
    </div>
    <div class="media col-sm-12 col-md-4 col-lg-2">
      <div class="content">
        <h4>Social media</h4>
        <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>