
<header class="container">
  <div class="hero-brand clearfix">
    <div class="user-block">
      <ul>
        <li>Support <a href="#">: info@webhosting.com</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
    <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo"/>
        <p>Hosting</p></a></div>
  </div>
</header>
<nav>
  <div class="container">
    <div class="row">
      <input type="checkbox" id="hamburger"/>
      <div class="icon">
        <label for="hamburger"><span></span><span></span><span></span></label>
      </div>
      <ul class="menu clearfix">
        <li><a href="Home.html">Home</a>
        </li>
        <li><a href="About us.html">About us</a>
        </li>
        <li><a href="Service.html">Service</a>
        </li>
        <li><a href="Hosting.html">Hosting<span>Plans</span></a>
        </li>
        <li><a href="Domain.html">Domain</a>
        </li>
        <li><a href="Faq.html">Faq</a>
        </li>
        <li><a href="Testimonials.html">Testimonials</a>
        </li>
        <li><a href="Blog.html">Blog</a>
        </li>
        <li><a href="Support.html">Support</a>
        </li>
        <li><a href="Contact Us.html">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>