- var nav = [ 'Home','About us', 'Service', 'Hosting', 'Domain', 'Faq', 'Testimonials', 'Blog', 'Support', 'Contact Us']

header.container
	.hero-brand.clearfix
		.user-block
			ul
				li Support 
					a(href="#") : info@webhosting.com
				li
					a(href="#") Register
				li
					a(href="#") Login
		.brand
			a(href="#")
				img(src="img/logo.png", alt="Logo")
				p Hosting
nav
	.container
		.row
			input(type="checkbox" id="hamburger")
			.icon
				label(for="hamburger")
					span
					span
					span
			ul.menu.clearfix
				each item in nav
					if item == title
						li.active
							if item == 'Hosting'
								a(href=item+".html")= item
									span Plans
							else
								a(href=item+".html")= item
					else
						li
							if item == 'Hosting'
								a(href=item+".html")= item
									span Plans
							else
								a(href=item+".html")= item