section.section-newsletter.aqua
	.container
		.paragraph
			p sign up your 
			h2 newsletter
			i(class="fa fa-envelope-o" aria-hidden="true")
		form(action="")
			input(type="text" placeholder="Enter your domain name")
			input.btn.btn-lg.btn-orange(type="submit" value="Sign up now")