extends ./templates/base-template

block vars
	- var title = "Blog"
	- var current = "Blog"


block header
block content
	section.section-hero
		.container
			h1 Blog
			p post
	section.section-blog.container
		.paragraph
			p Our
			h2 Blog
			span
		.blog-img
			.img
		.blog-heading
			h3 Blog Heading here
			p Posted By : Akhil   |    Date : 02-02-2015
		.blog-content
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, 
			p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. 
			p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		.blog-footer.clearfix
			ul.social
				li
					a.icon.comment(href="#") #[span 24] Comments
				li
					a.icon.like(href="#")  
						i(class="fa fa-heart-o" aria-hidden="true") 
						|Like
				li
					p.icon.share
						i(class="fa fa-share-alt" aria-hidden="true")
						|Share :
					ul
						li
							a(href="#")
								i(class="fa fa-facebook" aria-hidden="true")
						li
							a(href="#")
								i(class="fa fa-twitter" aria-hidden="true")
						li
							a(href="#")
								i(class="fa fa-linkedin" aria-hidden="true")
						li
							a(href="#")
								i(class="fa fa-google-plus" aria-hidden="true")
			ul.pagination
				li
					a.active(href="#") 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li
					p .......
				li
					a(href="#") 13
		.blog-author.aqua
			.media
				.media-left
					a(href='#')
						//- img.media-object(src='...', alt='...')
				.media-body
					h4.media-heading By : akhil
					p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature
	section.section-comments.container
			.paragraph
				p Our
				h2 comments
				span
			.comments
				ul.media-list
					li.media
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply
								h4 akhil Designer
								p February, 2, 2015
							p Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature
					li.media.inner
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply								
								h4 sunil joshi
								p February, 2, 2015
							p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney.
					li.media.inner
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply								
								h4 Sonia nair
								p February, 2, 2015
							p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.
					li.media
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply								
								h4 krishnan unni
								p February, 2, 2015
							p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
					li.media
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply								
								h4 darwin michle
								p February, 3, 2015
							p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney Colleg.
	section.section-leave-comment.aqua-no-pad
		.container
			.paragraph
				p Leave a 
				h2 Comment
				i(class="fa fa-comments-o" aria-hidden="true")
			form.row
				.col-sm-6
					input(type="text" placeholder="Name")
					input(type="email" placeholder="Email")
					input(type="text" placeholder="Subject")
				.col-sm-6
					textarea(name="" placeholder="Comment")
				.col-sm-12
					input.btn.btn-lg.btn-orange(type="submit" value="Submit")

							
block footer

block scripts

block custom-scripts