extends ./templates/base-template

block vars
	- var title = "Home"



block header
block content
	section.carousel
		.owl-carousel.owl-theme
			.item.n1
				.paragraph-hero
					h1 Awesome hosting
					p with unlimited features
			.item.n2
				.paragraph-hero
					h1 Awesome hosting
					p with unlimited features
			.item.n3
				.paragraph-hero
					h1 Awesome hosting
					p with unlimited features
		.owl-nav.container
		.owl-dots.container
	section.section-domain.aqua
		.container
			.paragraph
				p Search your  
				h2 Domain
				i(class="fa fa-search" aria-hidden="true")
			form(action="")
				input.text-input(type="text" placeholder="Enter your domain name")
				select
					option(value="0") Year (0-1 year)
					option(value="1") Year (1-2 year)
					option(value="2") Year (2-5 year)
				select.local
					option(value="0") .com
					option(value="1") .net
					option(value="2") .ua
				input.btn.btn-lg.btn-orange(type="submit" value="Search")
	section.section-benefits.container
			.paragraph
				p Our  
				h2 benefits
				span
			ul.list-benefits
				.row
					li.col-sm-4
						.icon-block.col-md-3.no-pad
							i(class="fa fa-ioxhost" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 99.9% Uptime
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i(class="fa fa-comments-o" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 24/7/365 Support
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i(class="fa fa-laptop" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 protect your pc
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
				.row
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i.cog(class="fa fa-cog" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 DNS control
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i.mail(class="fa fa-envelope-o" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 domain transfer
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i.lock(class="fa fa-lock" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 100% security
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
	section.section-features.shany 
		.container
			.row
				.col-sm-5
					.paragraph
						p Now 
						h2 What is hot
						span
					a(href="#").get-up-to
						span.percent 50%
						span.text-blue off
						br
						span.text each 
							b hosting
				.col-sm-7
					.list-features
						.paragraph
							p our 
							h2 features
							span
						.list-item.col-md-6.col-lg-5
							ul
								li 
									i(class="fa fa-angle-right" aria-hidden="true")
									|Lorem Ipsum is simply dummy.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Discovered the undoubtable.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Various versions have evolved.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Suffered alteration in some.
						.list-item.col-md-6.col-lg-4
							ul
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Specimen book.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Lpsum generators.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Sentence structures.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Embarrassing hidden.
						.list-item.col-md-12.col-lg-3
								a(href="#").btn.btn-md.btn-orange View all
	section.section-hosting.container
		.paragraph
			p Our
			h2 Hosting
			span
		.list-hosting
			ul.row
				.col-md-3
					li
						.prise
							p 
								span $ 
									b 5 
							p per month
						a(href="#").btn.btn-blue.btn-blue Standard plan
						p 10GB Disk Space
						p 1TB Bandwidth
						p Free DDoS Protection
						p Free Daily Backups
						p Managed Hosting
						a(href="#").btn.btn-sm.btn-orange Signup
				.col-md-3
					li
						.prise
							p 
								span $ 
									b 6 
							p per month
						a(href="#").btn.btn-blue advanced plan
						p 10GB Disk Space
						p 1TB Bandwidth
						p Free DDoS Protection
						p Free Daily Backups
						p Managed Hosting
						a(href="#").btn.btn-sm.btn-orange Signup					
				.col-md-3
					li
						.prise
							p 
								span $ 
									b 8 
							p per month
						a(href="#").btn.btn-blue business plan
						p 10GB Disk Space
						p 1TB Bandwidth
						p Free DDoS Protection
						p Free Daily Backups
						p Managed Hosting
						a(href="#").btn.btn-sm.btn-orange Signup					
				.col-md-3
					li
						.prise
							p 
								span $ 
									b 9 
							p per month
						a(href="#").btn.btn-blue gold plan
						p 10GB Disk Space
						p 1TB Bandwidth
						p Free DDoS Protection
						p Free Daily Backups
						p Managed Hosting
						a(href="#").btn.btn-sm.btn-orange Signup					
	include ./includes/newsletter
block footer

block scripts

block custom-scripts
	script.
		$('.owl-carousel').owlCarousel({
			nav: true,
			navContainer: '.owl-nav.container',
			dotsContainer: '.owl-dots.container',
			navText: ["<i class='fa fa-angle-left' aria-hidden='true'></i>","<i class='fa fa-angle-right' aria-hidden='true'></i>"],
			loop: true,
			autoplay: true,
			items: 1,
			responsive:{
				0:{
					items:1
					}
				}
			})



