extends ./templates/base-template

block vars
	- var title = "Service"
	- var current = "Service"


block header
block content
	section.section-hero
		.container
			h1 our Service
			p What we doing
	section.section-our-service.container
		.paragraph
			p hosting
			h2 services
			span
		ul.row
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-1.png", alt="Icon")
				.text-block
					h3 Unlimited disk space
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-2.png", alt="Icon")
				.text-block
					h3 Unlimite bandwidth
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-3.png", alt="Icon")
				.text-block
					h3 27/7	 customer support
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
		ul.row
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-4.png", alt="Icon")
				.text-block
					h3 high speed
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-5.png", alt="Icon")
				.text-block
					h3 site protections
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-6.png", alt="Icon")
				.text-block
					h3 ssd database storage
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
	section.section-featured.aqua
		.container
			.row
				.col-md-8.service-container
					.paragraph
						p Featured
						h2 services
						span
					.service-block.clearfix
						.img-block.col-sm-4
						.text-block.col-sm-8
							h3 Service name One
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
					.service-block.clearfix
						.img-block.col-sm-4
						.text-block.col-sm-8
							h3 Service name two
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
					.service-block.clearfix
						.img-block.col-sm-4
						.text-block.col-sm-8
							h3 Service name three
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
				.news-container.col-md-4
					.paragraph
						p latest
						h2 news
						span
					.news-block.clearfix
						.icon-container.col-sm-4
							.icon
								p 
									span 1
								|jan-05
						.text.col-sm-8
							h3 News heading here
							p simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
					.news-block.clearfix
						.icon-container.col-sm-4
							.icon
								p 
									span 2
								|jan-05
						.text.col-sm-8
							h3 News heading here
							p simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
					.news-block.clearfix
						.icon-container.col-sm-4
							.icon
								p 
									span 3
								|jan-05
						.text.col-sm-8
							h3 News heading here
							p simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
	section.section-testimonials.container
		.paragraph
			p Happy
			h2 Clients
			span
		.owl-carousel.owl-theme
			.item-testimonials
				.row
					.col-sm-3.col-lg-2
						.img-block
					.col-sm-9.col-lg-10
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
							b #[span By] Akhil Designer
			.item-testimonials
				.row
					.col-sm-3.col-lg-2
						.img-block
					.col-sm-9.col-lg-10
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
							b #[span By] Akhil Designer
			.item-testimonials
				.row
					.col-sm-3.col-lg-2
						.img-block
					.col-sm-9.col-lg-10
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
							b #[span By] Akhil Designer
			.item-testimonials
				.row
					.col-sm-3.col-lg-2
						.img-block
					.col-sm-9.col-lg-10
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
							b #[span By] Akhil Designer
	include ./includes/newsletter
block footer

block scripts

block custom-scripts
	script.
		$('.owl-carousel').owlCarousel({
			animateOut: 'zoomOutLeft',
			animateIn: 'zoomInRight',
			dots: true,
			nav: false,
			loop: true,
			autoplay: true,
			items: 1,
			responsive:{
				0:{
					items:1
					}
				}
			})