extends ./templates/base-template

block vars
	- var title = "Support"
	- var current = "Support"


block header
block content
	section.section-hero
		.container
			h1 support
			p center
	section.section-search.container
		.paragraph
			p Support
			h2 Center
			span
		form
			i.icon(class="fa fa-search" aria-hidden="true")
			input(type="text" placeholder="Have a questions ? Enter search item here")
			input.btn.btn-orange(type="submit" value="Search")


	include ./includes/newsletter
block footer

block scripts

block custom-scripts