  .owl-nav {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    [class*='owl-'] {
      color: $nav-color;
      font-size: $nav-font-size;
      margin: $nav-margin;
      padding: $nav-padding;
      display: inline-block;
      border: 1px solid $nav-color;
      cursor: pointer;
      border-radius: 100%;
      &:hover {
        background-color: $nav-background-hover;
        color: $nav-color-hover;
        text-decoration: none;
      }
    }
    .disabled {
      opacity: $nav-disabled-opacity;
      cursor: default;
    }
    .owl-prev {
      position: absolute;
      left: 11px;
      top: 43%;
    }
    .owl-next {
      position: absolute;
      right: 11px;
      top: 43%;
    }
  }
  
  .owl-dots {
    position: absolute;
    z-index: 6;
    left: 0;
    right: 0;
    bottom: 49px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline;
      span {
        width: $dot-width;
        height: $dot-height;
        margin: $dot-margin;
        background: none;
        border: 2px solid $thame-color-orange;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 30px;
      }
      &.active,
      &:hover {
        span {
          border-color: #5278db;
          ;
        }
      }
    }
  }