/*
 * Default theme - Owl Carousel CSS File */

@import '../../scss/_colors';
$color-white: #FFF !default;
//nav
$nav-color: $color-white !default;
$nav-color-hover: $color-white !default;
$nav-font-size: 24px !default;
$nav-rounded: 3px !default;
$nav-margin: 5px !default;
$nav-padding: 16px 24px !default;
$nav-background-hover: #5278db !default;
$nav-disabled-opacity: 0.5 !default;
//dots
$dot-width: 13px !default;
$dot-height: 13px !default;
$dot-rounded: 30px !default;
$dot-margin: 5px 2.5px !default;
@import 'theme';