.btn {
  width: 100%;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

a.btn {
  display: block;
  margin: 0 auto;
  padding: 16px 5px;
  text-align: center;
  &.btn-sm {
    padding: 10px 5px;
  }
}

.btn-sm {
  width: 115px;
  height: 43px;
}

.btn-md {
  height: 55px;
}

.btn-lg {
  height: 55px;
}

a.btn-comment {
  float: right;
  margin-top: 4px;
  padding: 9px;
  width: 87px;
  height: 31px;
}

.btn-orange {
  background-color: $thame-color-orange;
  &:hover {
    background-color: $thame-color-blue;
  }
}

.btn-blue {
  background-color: $thame-color-blue;
}
