.carousel {
  position: relative;
  min-height: 570px;
}

.owl-carousel {
  .item {
    position: relative;
    padding-top: 230px;
    padding-bottom: 133px;
    height: 100%;
    text-align: center;
    .paragraph-hero {
      padding-top: 149px;
    }
    &.n1 {
      background-color: #222836;
    }
    &.n2 {
      background-color: #352836;
    }
    &.n3 {
      background-color: #003628;
    }
    &:after {
      @include img-holder;
     
    }
  }
}
