//Basic Thame colors
$thame-color-orange: #ff8261;
$thame-color-blue: #52cbf8;
$thame-color-shany: #fffbde;
$thame-color-acqua: #e7f4f8;
$thame-color-darck: #222836;
$thame-color-grey: #4c515b;
$thame-color-blog-orange: #ff8261;
// BG
$bg-color-basic: #fff;
$bg-color-footer: $thame-color-grey;
// Fonts
$font-color-basic:#a0a9b6;
$icon-color-orange: #fb6b45;
//H's
$font-hs-1: #fff;
$font-hs-2: #556b72;
$font-hs-3: #4c515b;
// Buttons
$button-color-blue: $thame-color-blue;
$button-color-orange: $thame-color-orange;
//Empty block
$img-empty-color-aqua: #acdbea;