body {
  color: $font-color-basic;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}

h1 {
  margin: 0;
  color: $font-hs-1;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 30px;
}

h2 {
  margin-bottom: 2px;
  color: $font-hs-2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

h3 {
  color: $font-hs-2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 31px;
}

h4 {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
}
