footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bg-color-footer;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  a,
  p {
    color: #909AAD;
  }
  h4 {
    margin-bottom: 7px;
  }
  .content {
    display: table;
    margin: 0 auto 20px;
  }
  .brand-footer {
    margin-bottom: 20px;
    padding-left: 0;
    .brand {
      p {
        color: #FFF;
      }
    }
    span {
      display: block;
      margin-top: -9px;
      padding-left: 56px;
    }
  }
  .quick-links {
    ul {
      display: inline-block;
      vertical-align: text-top;
      &:first-of-type {
        margin-right: 61px;
      }
    }
  }
  .contact {
    h4 {
      margin-bottom: 10px;
    }
    address {
      font-style: normal;
      p {
        margin: 0;
      }
      span {
        color: #E7F4F8;
      }
    }
  }
  .media {
    font-size: 24px;
    h4 {
      margin-bottom: 17px;
    }
    ul {
      li {
        float: left;
        margin-right: 19px;
        max-height: 23px;
      }
    }
    .content {
      width: 210px;
    }
  }
}
