* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: $bg-color-basic;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  position: relative;
}

a {
  text-decoration: none;
}

input,
select,
option,
textarea {
  background-color: #fff;
  border-radius: 0;
  border: none;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
  &::-webkit-input-placeholder {
    color: $font-color-basic;
  }
  &::-moz-placeholder {
    color: $font-color-basic;
  }
  &::-ms-input-placeholder {
    color: $font-color-basic;
  }
  &[type="text"] {
    padding-left: 22px;
  }
}