header {
  position: relative;
  .hero-brand {
    padding: 27px 0;
    .brand {
      float: left;
    }
    .user-block {
      display: none;
      float: right;
      text-align: right;
      border-top: 1px solid #e1e9f2;
      border-bottom: 1px solid #e1e9f2;
      padding: 9px 5px 11px 58px;
      ul {
        color: #484e57;
        li {
          display: inline-block;
          padding: 0 16px;
          &:last-child {
            padding-right: 0;
          }
          &:not(:first-child) {
            border-left: 1px solid #dde2e8;
          }
          a {
            color: #9ba4b0;
          }
        }
      }
    }
  }
}