.absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.relative {
  position: relative;
}

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.text-center {
  text-align: center;
}