@media (min-width: 480px) {
  h1 {
    font-size: 40px;
  }
  .section-blog {
    .blog-footer {
      .social {
        li {
          float: left;
          .comment,
          .like {
            border-right: 1px solid #D6E8EE;
          }
          .like,
          .share {
            padding-left: 18px;
          }
          .share {
            padding-left: 15px;
          }
        }
      }
      .pagination {
        li {
          a {
            width: 39px;
            height: 39px;
          }
        }
      }
    }
    .blog-author {
      .media {
        .media-left {
          display: table-cell;
        }
        .media-body {
          padding: 40px 38px 40px 0 ;
        }
      }
    }
  }
  .section-comments,
  .section-leave-comment {
    display: block;
  }
  //End
}

@media (min-width: 768px) {
  .btn-md {
    width: 165px;
  }
  .btn-lg {
    width: 196px;
  }
  .aqua {
    form {
      display: flex;
      margin-bottom: 0;
      padding-left: 28px;
    }
  }
  .paragraph {
    text-align: left;
    i {
      right: inherit;
    }
    span {
      right: inherit;
    }
  }
  .section-newsletter,
  .section-domain {
    .paragraph {
      display: inline-block;
      float: left;
      margin-bottom: 0;
    }
  }
  .section-newsletter {
    padding-top: 87px;
    padding-bottom: 63px;
    form {
      input {
        &[type="text"] {
          max-width: 722px;
        }
      }
    }
  }
  .section-domain {
    padding-top: 65px;
    padding-bottom: 51px;
    form {
      .text-input {
        max-width: 430px;
      }
      input[type="submit"] {
        margin-left: 10px;
      }
    }
    .local {
      .selectize-input {
        width: 94px;
      }
    }
  }
  footer {
    .content {
      margin: 0 auto;
    }
    .media {
      .content {
        width: initial;
      }
    }
  }
  .selectize-input {
    margin-bottom: 0;
    margin-left: 10px;
    width: 165px;
  }
  .selectize-dropdown {
    margin-top: 5px;
    margin-left: 10px;
  }
  .section-benefits {
    padding-top: 74px;
    padding-bottom: 114px;
    .list-benefits {
      .row:first-of-type {
        margin-bottom: 58px;
      }
      li {
        .icon-block {
          float: none;
          max-width: none;
          text-align: initial;
          i {
            &.cog {
              padding-left: 9px;
            }
            &.lock {
              padding-left: 15px;
            }
          }
        }
        .text-block {
          display: block;
          margin-bottom: 0;
        }
      }
    }
  }
  .section-features {
    .get-up-to {
      margin-bottom: 0;
      max-width: 357px;
    }
  }
  .section-our-service {
    padding-bottom: 105px;

    ul {
      &:first-of-type {
        margin-bottom: 51px;
      }
      li {
        margin: 0;
        .icon-block {
          float: none;
          min-width: none;
          img {
            display: inline-block;
          }
        }
        .text-block {
          display: block;
        }
      }
    }
  }
  .section-featured {
    padding: 75px 0 30px;

    .paragraph {
      margin-bottom: 24px;
    }
    .service-container {
      .service-block {
        .text-block {
          padding-right: 18px;
          padding-left: 43px;
        }
      }
    }
    .news-container {
      padding-right: 10px;
      .news-block {
        .text {
          padding: 11px 0 0 3px;
          text-align: left;
        }
      }
    }
  }
  .section-testimonials {
    padding-top: 109px;
    padding-bottom: 114px;
    .owl-carousel {
      .item-testimonials {
        blockquote {
          text-align: left;
        }
      }
    }
  }
  .section-blog {
    .blog-footer {
      .pagination {
        float: right;
        li {
          a {
            width: 34px;
          }
        }
      }
    }
  }
  //End
}

@media (min-width: 992px) {
  header {
    .hero-brand {
      .user-block {
        display: block;
      }
    }
  }
  nav {
    background-color: transparent;
    .icon {
      display: none;
    }
    ul {
      display: block;
      background-color: $thame-color-orange;
      li {
        float: left;
        margin: 0;
        max-width: 10%;
        width: 117px;
      }
    }
  }
  footer {
    .brand-footer {
      .content {
        display: block;
      }
    }
  }
  .section-domain {
    .local {
      .selectize-input {
        width: 165px;
      }
    }
  }
  .section-benefits {
    .list-benefits {
      li {
        .icon-block {
          float: left;
        }
      }
    }
  }
  .section-features {
    .get-up-to {
      margin-right: 0;
      margin-left: 0;
      padding-top: 40px;
      .text {
        display: inline-block;
        text-align: left;
      }
      br {
        display: none;
      }
    }
    .list-features {
      .list-item {
        &:nth-last-of-type(2) {
          padding-left: 23px;
        }
        .btn {
          margin: 0 70px 0 auto;
          width: 165px;
        }
      }
    }
  }
  .section-featured {
    .news-container {
      border-left: 1px solid #FFF;
      .news-block {
        margin-bottom: 30px;
        &:nth-child(3) {
          margin-bottom: 42px;
        }
        .icon-container {
          padding: 0;
          .icon {
            display: inline-block;
          }
        }
      }
    }
  }

  .section-blog {
    .blog-footer {
      .pagination {
        float: right;
        li {
          a {
            width: 39px;
          }
        }
      }
    }
  }
  //End
}

@media (min-width: 1200px) {
  nav {
    ul {
      li {
        a {
          span {
            display: inline-block;
            float: right;
          }
        }
      }
    }
  }
  footer {
    padding-top: 94px;
    padding-bottom: 102px;
    .brand-footer {
      margin-bottom: 0;
      padding-top: 68px;
    }
    .quick-links {
      padding-right: 2px;
      padding-left: 74px;
    }
    .contact {
      padding-left: 114px;
    }
    .media {
      padding: 0 5px 0 20px;
    }
  }
  .section-features {
    .list-features {
      .list-item {
        &:last-of-type {
          padding-top: 73px;
        }
        .btn {
          margin: 0 auto;
        }
      }
    }
  }

  .section-featured {
    .news-container,
    .service-container {
      padding-top: 30px;
      padding-bottom: 50px;
    }
    .service-container {
      margin-right: -15px;
      padding-right: 25px;
    }
    .news-container {
      padding-left: 30px;
    }
  }


  //End 
}
