@mixin img-holder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin: auto;
  width: 86px;
  height: 10px;
  content: 'Image here';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}
