nav {
  .container {
    position: relative;
  }
  margin-right: auto;
  margin-left: auto;
  background-color: $thame-color-orange;
  .icon {
    position: absolute;
    top: -57px;
    right: 15px;
    label {
      cursor: pointer;
      span {
        transition: 0.5s;
        display: block;
        background: $thame-color-orange;
        background: linear-gradient(to left, $thame-color-orange, $thame-color-blue);
        height: 2px;
        width: 35px;
        margin-bottom: 7px;
      }
    }
  }
  #hamburger {
    display: none;
    &:checked~.menu {
      display: block;
    }
    &:checked~.icon {
      span:first-child {
        transform: rotateZ(45deg) translateY(12.5px);
      }
      span:last-child {
        transform: rotateZ(-45deg) translateY(-12.5px);
      }
      span:nth-child(2) {
        width: 0;
      }
    }
  }
  ul {
    display: none;
    li {
      display: list-item;
      text-align: center;
      margin: 0 -9999px;
      transition: 0.3s ease-in-out;
      a {
        display: inline-block;
        width: 100%;
        padding: 16px 3px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        span {
          display: none;
        }
      }
      &.active,
      &:hover {
        background-color: $thame-color-blue;
      }
    }
  }
}

.brand {
  a {
    display: flex;
    align-items: center;
    color: #161920;
    font-size: 20px;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase;
    img {
      width: 49px;
      height: 31px;
    }
    p {
      display: inline;
      margin: 0;
      padding-left: 9px;
    }
  }
}