.selectize-dropdown {
  position: absolute;
  z-index: 10;
  background-color: #FFF;
  .option {
    padding: 5px 15px;
    cursor: pointer;
    &:hover {
      background-color: #B6E4F5;
    }
  }
}

.selectize-input {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 13px;
  width: 100%;
  height: 55px;
  background-color: #FFF;
  cursor: pointer;
  input {
    display: none;
    height: inherit !important;
  }
  .item {
    padding: 15px;
    padding-left: 25px;
  }
}

.selectize-control.single .selectize-input:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: #808080 transparent transparent transparent;
  content: ' ';
}

.selectize-control.single .selectize-input.input-active:after {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent;
}
