@import '_libs';
@import '_typography';
@import '_colors';
@import '_fonts';
@import '_mixins';
@import '_global';
@import '_helpers';
@import '_buttons';
@import '_header';
@import '_footer';
@import '_sidebar';
@import '_carousel';
@import '_nav';
@import '_selectize';
.aqua {
  background-color: $thame-color-acqua;
  form {
    padding-top: 5px;
    input {
      margin-bottom: 20px;
      height: 55px;
    }
  }
}

.aqua-no-pad {
  background-color: $thame-color-acqua;
  input:not(.btn) {
    margin-bottom: 10px;
    padding-left: 22px;
    width: 100%;
    height: 55px;
  }
  textarea {
    padding-left: 22px;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
  }
}

.shany {
  background-color: $thame-color-shany;
  color: #696556;
}

.paragraph-hero {
  text-align: center;
  h1 {
    margin-bottom: 9px;
  }
  p {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 20px;
  }
}

.paragraph {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  p {
    color: #859AA1;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 18px;
  }
  i {
    position: absolute;
    top: -28px;
    right: 0;
    left: 0;
    color: $thame-color-orange;
    font-size: 27px;
  }
  span {
    position: absolute;
    top: -5px;
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    width: 21px;
    height: 2px;
    background-color: #FB6B45;
  }
}

.section-newsletter,
.section-domain {
  .paragraph {
    margin-bottom: 20px;
  }
}

.section-newsletter {
  padding-top: 67px;
  padding-bottom: 61px;
  form {
    input {
      &[type="text"] {
        width: 100%;
      }
    }
  }
}

//Home page 
.section-domain {
  padding-top: 55px;
  padding-bottom: 35px;
  form {
    .text-input {
      width: 100%;
    }
  }
}

.section-benefits {
  padding-top: 54px;
  padding-bottom: 34px;
  .paragraph {
    margin-bottom: 32px;
  }
  .list-benefits {
    li {
      .icon-block {
        float: left;
        min-width: 25%;
        text-align: center;
        i {
          color: $icon-color-orange;
          font-size: 60px;
          &.mail {
            padding-left: 8px;
            font-size: 56px;
          }
          &.lock {
            padding-left: 10px;
          }
        }
      }
      .text-block {
        display: table;
        margin-bottom: 30px;
        padding-left: 6px;
      }
    }
  }
}

.section-features {
  padding-top: 84px;
  padding-bottom: 97px;
  .paragraph {
    margin-bottom: 18px;
    h2,
    p {
      color: #4C515B;
    }
  }
  .get-up-to {
    display: block;
    margin: 27px auto 60px;
    padding: 55px 27px 26px 26px;
    max-width: 357px;
    outline: 2px solid #FFFBDE;
    outline-offset: -10px;
    background-color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    .percent {
      position: relative;
      color: $thame-color-orange;
      &:after {
        position: absolute;
        top: -10px;
        left: 0;
        color: #97947F;
        content: 'get up to';
        font-size: 14px;
      }
    }
    .text-blue {
      padding-left: 18px;
      color: $thame-color-blue;
    }
    .text {
      padding-left: 13px;
      max-width: 82px;
      color: #97947F;
      font-weight: 300;
      font-size: 17px;
      b {
        color: #4C515B;
      }
    }
  }
  .list-features {
    font-size: 14px;
    .list-item {
      padding: 0;
      &:last-of-type {
        padding-top: 20px;
      }
      ul {
        margin: 0 auto;
        max-width: 230px;
        li {
          margin-bottom: 12px;
          i {
            margin-right: 16px;
            color: #4C515B;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
      .btn {
        width: 224px;
      }
    }
  }
}

.section-hosting {
  padding-top: 93px;
  padding-bottom: 95px;
  .paragraph {
    margin-bottom: 23px;
  }
  .list-hosting {
    ul {
      li {
        margin: 0 auto 20px;
        padding: 11px 25px 23px;
        max-width: 350px;
        border: 1px solid #E1EFF4;
        text-align: center;
        p {
          border-bottom: 1px solid #E9EEF2;
          color: #8D9198;
          font-weight: 400;
          font-size: 14px;
          line-height: 39px;
        }
        .prise {
          padding-top: 30px;
          padding-bottom: 26px;
          p {
            border: none;
            color: #556B72;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
            span {
              margin-left: -8px;
              font-weight: 300;
              font-size: 50px;
              b {
                margin-left: -15px;
              }
            }
          }
        }
        .btn-blue {
          margin-bottom: 40px;
          padding: 9px 5px;
          max-width: 183px;
          height: 39px;
        }
        .btn-orange {
          margin-top: 22px;
        }
      }
    }
  }
}
//Service pege

.section-hero {
  position: relative;
  padding-top: 104px;
  padding-bottom: 98px;
  background-color: $thame-color-darck;


  h1,
  p {
    position: relative;
    z-index: 3;
  }
  h1 {
    margin-bottom: 9px;
  }
  p {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 20px;
  }
  &:after {
    z-index: 1;

    @include img-holder;
  }
}

.section-our-service {
  padding-top: 68px;
  padding-bottom: 50px;
  .paragraph {
    margin-bottom: 43px;
  }
  ul {
    li {
      margin-bottom: 20px;
      padding-right: 22px;
      .icon-block {
        float: left;
        margin-bottom: 6px;
        min-width: 20%;
        min-height: 48px;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      .text-block {
        display: table;
        h3 {
          margin-bottom: 11px;
        }
      }
    }
  }
}
.section-featured {
  padding: 20px 0;
  .news-container,
  .service-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .paragraph {
    margin-bottom: 50px;
  }
  .service-container {
    .service-block {
      margin-bottom: 42px;
      .img-block {
        min-height: 157px;
        background-color: $img-empty-color-aqua;
        &:after {
          @include img-holder;
        }
      }
      .text-block {
        padding-top: 7px;
      }
    }
  }
  .news-container {
    .news-block {
      margin-bottom: 40px;

      .icon {
        position: relative;
        margin: 0 auto;
        padding: 28px 10px;
        width: 98px;
        height: 98px;
        border-radius: 100%;
        background-color: $icon-color-orange;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        line-height: 17px;
        span {
          font-weight: 700;
        }
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 82px;
          height: 82px;
          border: 2px dotted #FFF;
          border-radius: 100%;
          content: "";
        }
      }
      .text {
        padding-top: 15px;
        text-align: center;
      }
    }
  }
}

.section-testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  .paragraph {
    margin-bottom: 28px;
  }
  .owl-carousel {
    position: relative;
    .item-testimonials {
      .img-block {
        position: relative;
        margin: 0 auto;
        width: 165px;
        height: 165px;
        border-radius: 100%;
        background-color: #64767B;
        &:after {
          @include img-holder;
        }
      }
      blockquote {
        padding-top: 26px;
        text-align: center;
        p {
          margin-bottom: 15px;
          font-style: italic;
          font-size: 13px;
        }
        b {
          color: $font-hs-2;
          text-transform: uppercase;
          letter-spacing: 1.0px;
          font-weight: 700;
          line-height: 18px;
          span {
            display: block;
            font-weight: 400;
          }
        }
      }
    }
    .owl-dots {
      top: -13px;
      right: 0;
      left: inherit;
      .owl-dot {
        span {
          margin: 5px 3px;
          border-color: #CCDEE3;
        }
        &.active {
          span {
            border-color: #52CBF8;;
          }
        }
      }
    }
  }
}
.section-blog {
  padding-top: 67px;
  padding-bottom: 70px;
  .paragraph {
    margin-bottom: 25px;
  }
  .blog-img {
    margin-bottom: 33px;
    .img {
      position: relative;
      min-height: 382px;
      background-color: #D4D3EC;
      &:after {
        @include img-holder;
      }
    }
  }
  .blog-heading {
    margin-bottom: 20px;
    h3 {
      line-height: 28px;
    }
  }
  .blog-content {
    margin-bottom: 68px;
    p {
      margin-bottom: 23px;
    }
  }
  .blog-footer {
    margin-bottom: 62px;
    border-top: 1px solid #D6E8EE;
    border-bottom: 1px solid #D6E8EE;
    text-align: center;
    .social {
      text-align: left;
      li {
        .share {
          display: inline-block;
        }
        a {
          display: inline-block;
          color: $font-color-basic;
        }
        .icon {
          padding: 10px 13px 12px 0;
          span,
          i {
            display: inline-block;
            margin-right: 7px;
            padding-top: 2px;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            background-color: $icon-color-orange;
            color: #FFF;
            text-align: center;
            font-size: 13px;
          }
          i {
            padding-top: 8px;
          }
        }
        .like {
          padding-right: 17px;
        }

        .share {
          padding-right: 6px;
        }
        ul {
          display: inline-block;
          vertical-align: middle;
          li {
            float: left;
            margin: 0 7px;
          }
        }
      }
    }
  }

  .pagination {
    display: inline-block;
    margin-top: 5px;
    li {
      float: left;
      margin: 0 5px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        padding-top: 5px;
        width: 36px;
        height: 36px;
        border: 1px solid #D6E8EE;
        text-align: center;
        &.active,
        &:hover {
          background-color: $thame-color-blog-orange;
          color: #FFF;
        }
      }
      p {
        padding: 7px 5px 0;
      }
      a,
      p {
        color: #656D78;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  .blog-author {
    .media {
      .media-left {
        display: block;
        padding: 28px 41px 38px 31px;
        vertical-align: middle;
        a {
          display: block;
          margin: 0 auto;
          width: 123px;
          height: 123px;
          border-radius: 100%;
          background-color:$thame-color-blog-orange;
        }
      }
      .media-body {
        padding: 0 30px 30px;
        h4 {
          color: $font-hs-2;
        }
      }
    }
  }
}
.section-comments {
  padding-top: 16px;
  padding-bottom: 98px;
  .paragraph {
    margin-bottom: 17px;
  }
  .comments {
    .media {
      padding-top: 17px;
      padding-bottom: 32px;
      &:not(:last-child) {
        border-bottom: 1px solid #DEEDF2;
      }
      .media-left {
        padding-right: 31px;
        vertical-align: middle;
        a {
          display: block;
          width: 118px;
          height: 118px;
          border-radius: 100%;
          background-color: #939997;
        }
      }
      .media-body {
        .media-heading {
          margin-bottom: 23px;
          line-height: 12px;
          h4 {
            color: $font-hs-2;
          }
        }
      }
      &.inner {
        padding-bottom: 50px;
        padding-left: 147px;
      }
    }
  }
}
.section-leave-comment {
  padding-top: 99px;
  padding-bottom: 111px;
  .paragraph {
    margin-bottom: 30px;
  }
  form {
    textarea {
      margin-bottom: 13px;
      padding-top: 15px;
      height: 185px;
    }
    .btn {
      float: right;
    }
  }
}
.section-comments,
.section-leave-comment {
  display: none;
}
.section-search {
  padding-top: 68px;
  padding-bottom: 73px;
  .paragraph {
    margin-bottom: 25px;
  }
  form {
    position: relative;
    input:not(.btn) {
      float: left;
      padding-left: 51px;
      max-width: 980px;
      width: 100%;
      height: 59px;
      border: 1px solid #D3E5EB;
    }
    .btn {
      width: 160px;
      height: 59px;
    }
    .icon {
      position: absolute;
      top: 20px;
      left: 21px;
      color: $icon-color-orange;
      font-size: 18px;
    }
  }
}



@import '_media';
